doctype html
html
  head
    title= title
    meta(charset='UTF-8')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.0/semantic.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    block content
